.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(252, 104, 87);
    padding: 25px;
}
body{
    background-color: salmon;
    color: white;
}
.container{
    background-color: white;
    color: black;
    padding: 15px;
}