.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(252, 104, 87);
    padding: 100px;
}
body{
    background-color: salmon;
    color: white;
}
.container{
    background-color: white;
    color: black;
    padding: 15px;
}
.contenu{
    margin-top: 20px;
}
img.center{
    display: flex;
    justify-content: center;
}
.holycube{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}
a{
    text-decoration: none;
    color: grey;
}